* {
    box-sizing: border-box;
}
#mainCanvas{
    background-color: white;
}

#pageContainer{
    display: flex;
    flex-basis: row;
}


#toolboxContainer{
    background-color: beige;
}

#colpickerContainer{
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
}

#sizeContainer{
    padding: 5px 5px;
}

#toolContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 5px 5px;
}


#typefaceContainer{
    padding: 5px 5px;
}



.slider{
    /*width: 30%;*/
}

.toolButton{
    padding: 3px;
    margin: 1px;
    width: 40px;
    height: 40px;
}